In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1KKOXHNI8MSXU,4.0,0.0,0.0,N,Y
1,R26SP2OPDK4HT7,5.0,1.0,2.0,N,Y
2,RWQEDYAX373I1,5.0,0.0,0.0,N,Y
3,R231YI7R4GPF6J,5.0,0.0,0.0,N,Y
4,R3KO3W45DD0L1K,5.0,0.0,0.0,N,Y
5,R1C4QH63NFL5NJ,5.0,0.0,0.0,N,Y
6,R2GP65O1U9N7BP,5.0,0.0,0.0,N,Y
7,R3O29CT5MQQ3XQ,4.0,0.0,0.0,N,Y
8,R1ZECD2AA8QFF6,5.0,0.0,0.0,N,Y
9,R2S79GCF6J89OA,3.0,0.0,0.0,N,Y

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5906333 entries, 0 to 5906332
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 270.4+ MB

In [4]:
# 1. Filter the data and create a new DataFrame to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
344,R2P76PJFUGXBHO,1.0,6.0,45.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N
548,R2OSHKSPXU68W5,5.0,136.0,147.0,N,N
595,R3M02FSD3BLUPU,5.0,19.0,21.0,N,N
701,R1P0LEEJHH09L3,5.0,32.0,32.0,N,Y
749,R1V6UU1EHW3Q12,5.0,57.0,62.0,N,Y

In [5]:
# 2. Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N
548,R2OSHKSPXU68W5,5.0,136.0,147.0,N,N
595,R3M02FSD3BLUPU,5.0,19.0,21.0,N,N
701,R1P0LEEJHH09L3,5.0,32.0,32.0,N,Y
749,R1V6UU1EHW3Q12,5.0,57.0,62.0,N,Y
823,R230W87COFSTCL,5.0,21.0,21.0,N,Y

In [6]:
# 3. Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
50483,R6U9701C3BGO6,3.0,139.0,147.0,Y,N
50625,R1XK3ALB45D7N4,5.0,33.0,34.0,Y,N
50635,R1IZCSTLX81D6C,5.0,31.0,33.0,Y,N
50656,R2C8NC8EQLH4JF,3.0,45.0,48.0,Y,N
50890,R1JJ1YOJMOML1P,5.0,18.0,21.0,Y,N
50943,R3TKG664L9MTXJ,4.0,164.0,175.0,Y,N
54242,R2E942L5EX73FP,5.0,29.0,33.0,Y,N
54330,R3CGRT9HYB3LI7,5.0,20.0,21.0,Y,N
54331,R3HIFO4D3ZIBZ7,5.0,25.0,26.0,Y,N
103060,R2VUXJT91MXOQJ,3.0,72.0,79.0,Y,N

In [7]:
# 4. Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
211,R35PT06NWP7LDP,5.0,30.0,32.0,N,N
372,RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
419,R11UFMG8M2488I,4.0,23.0,26.0,N,N
548,R2OSHKSPXU68W5,5.0,136.0,147.0,N,N
595,R3M02FSD3BLUPU,5.0,19.0,21.0,N,N
701,R1P0LEEJHH09L3,5.0,32.0,32.0,N,Y
749,R1V6UU1EHW3Q12,5.0,57.0,62.0,N,Y
823,R230W87COFSTCL,5.0,21.0,21.0,N,Y

In [8]:
# 5. Determine the total number of reviews that are part of vine program (paid)
count_vine = len(vine_reviews)
count_vine

33

In [9]:
# 5. Determine the total number of reviews that are not part of the vine program (unpaid)
count_nonvine = len(not_vine_reviews)
count_nonvine

45388

In [10]:
# 5. Determine total number of 5-star reviews that are part of the vine program (paid)
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

15

In [11]:
# 5. Determine total number of 5-star reviews that are not part of the vine program (unpaid)
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

23733

In [27]:
# 5. Determine percent of 5-star reviews that are part of the vine program (paid)
round((max_rating_vine/count_vine)*100, 1)

45.5

In [28]:
# 5. Determine percent of 5-star reviews that are not part of the vine program (unpaid)
round((max_rating_nonvine/count_nonvine)*100,1)

52.3

In [14]:
# EXTRA:  Determine average star rating for reviews that are part of the vine program (paid)
round(vine_reviews['star_rating'].mean(),1)

4.1

In [15]:
# EXTRA:  Determine average star rating for reviews that are not part of the vine program (unpaid)
round(not_vine_reviews['star_rating'].mean(),1)

3.9